<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Compra finalizada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<a href="/" class="botao-voltar">← Voltar</a>

<main class="carrinho-container">
    <div class="carrinho-vazio">
        <h2>Compra finalizada 🎉</h2>
        <p>Obrigado por comprar na Sereia Verdinha!</p>
        <a href="/" class="botao">Voltar para a loja</a>
    </div>
</main>

</body>
</html>